@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,4000,500,600,700,800,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

section{
    padding: 100px;
}

.banner{
    padding: 0 100px;
}

.banner{
    position: relative;
    min-height: 100vh;
    background-color: mediumpurple;
    background-image: ;
    background-position: top 40% right;
    background-size: 400px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 40px;
margin-top: 2px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFF ;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img1{

    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.img1 .imgBanner{
    min-width: 100px;
    max-height: 655px;
    position: relative;
    right: 0;
    top: 0;
}

.banner h2{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span{
    font-weight: 700;
    font-size: 1.5em;
}

.banner h3{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn{
    position: relative;
    background: #1d83d6;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 1px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    color: #fff;
    background: #000;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

header .logo{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}




header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header.sticky ul li a{
    color: #111;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2{
    font-weight: 700;
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.contentBx{
    padding-right: 30px;
}

.contentBx h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.w50{
    min-width: 50%;
}

.img{
    max-width: 100%;
}

.Resources{
    background: #111;
}

.heading.white{
    color: #fff;
}

.Resources .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 0px;
}

.Resources .content .ResourcesBx{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 315px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.Resources .content .ResourcesBx:hover{
    background: #1d83d6;
}

.Resources .content .ResourcesBx img{
    max-width: 80px;
    filter: invert(1);
}

.Resources .content .ResourcesBx h2{
    font-size: 20px;
    font-weight: 600;
}

.Our Team .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Our Team .content .OurTeamBx{
    width: 50%;
    padding: 20px;
}

.OurTeam .content .OurTeamBx img{
    max-width: 100%;
}

.pricing{
    background: #f7f7f7;
}
.pricing .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing .content .pricingBx{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
}

.pricing .content .pricingBx p{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6rem;
}

.pricing .content .pricingBx h3{
    margin-top: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
}

.pricing .content .pricingBx h3 span{
    font-size: 14px;
    font-weight: 400;
}

.contact{
    background: #111;
}

.formBx{
    min-width: 60%;
}

.formBx form{
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input,
.formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea{
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder{
    color: #999;
}

.formBx form input[type="submit"]{
    max-width: 110px;
    background: #1d83d6;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 1px;
}

.contactInfo{
    min-width: 40%;
}

.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon{
    min-width: 40px;
    padding-top: 7px;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: 24px;
}

.contactInfoBx .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

.copyright{
    color: #fff;
    background: #000;
    text-align: center;
    padding: 10px;
}
